@{
	Layout = "~/Views/Shared/_ContainerDefault.cshtml";
}

<div class="vertical-center">
	<div class="form-wrapper text-center">
		<h2 class="my-2">Дякуюємо, що обрали нас 😊</h2>
		<div class="text-dark text-opacity-75">
			Вітаємо, <b>@ViewBag.Person</b> ! Ваш запит прийнято в обробку. <br>
			Незабаром, наш менеджер зв'яжеться з вами щодо деталай бронювання.
		</div>
	</div>
</div>