@model ApartmentTypeModel

@{
    Layout = "~/Views/Shared/_ContainerDefault.cshtml";
    ViewData["Title"] = "Додати";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" value="@Model.Id" hidden>
    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label">Значення</label>
        <input asp-for="Name" class="form-control" value="@Model.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Змінити" class="btn btn-primary">
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}